<h2>Lista empleados</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let empleado of empleados">
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.email}}</td>
            <td>
                <button (click)= "actualizarEmpleado(empleado.id)" class="btn btn-info" >
                        editar
                </button>
                <button (click)= "eliminarEmpleado(empleado.id)" class="btn btn-info" >
                    eliminar
                </button>
                <button (click)= "verDetalles(empleado.id)" class="btn btn-primay" >
                    ver detalles
            </button>
            </td>
        </tr>
    </tbody>
</table>
